/******************** 
Responsive Media Queries 
********/
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway");
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #a09383;
}

/*******************
Header(nav,logo,links,etc)
*/
.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media (min-width: 1800px) {
  .header-flex {
    padding: 2rem;
  }
}

.header-flex .logo {
  padding: 0;
  margin: 0;
}

.header-flex .logo img {
  width: 45px;
  height: 40px;
}

.header-flex .ham {
  width: 35px;
  height: 30px;
  display: block;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.header-flex .ham div {
  height: 4px;
  background: black;
  margin: 5px 0;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-flex .one {
  width: 50px;
}

.header-flex .two {
  width: 30px;
}

.header-flex .three {
  width: 40px;
}

.header-flex .ham:hover div {
  width: 50px;
}

.header-flex .menu {
  visibility: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*****************
    MENU LINK Animations
    */
}

.header-flex .menu li {
  padding: 5px;
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
}

.header-flex .menu li a {
  color: #252625;
  text-decoration: none;
  font-family: "Playfair Display";
  text-align: center;
  width: 100vh;
}

.header-flex .menu .link-1::after,
.header-flex .menu .link-2::after,
.header-flex .menu .link-3::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f8edda;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.header-flex .menu .link-1:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

.header-flex .menu .link-2:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

.header-flex .menu .link-3:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

/*************************
NAV OVERLAY 
*/
.nav-container {
  background-color: rgba(247, 238, 218, 0.9);
  width: 100%;
  height: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: hidden;
  padding: 0;
  overflow-x: hidden;
}

.nav-container .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0;
}

.nav-container .nav li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 30px;
}

.nav-container .nav li a {
  color: #252625;
  text-decoration: none;
  font-family: "raleway";
}

.nav-container .nav li a:hover {
  color: #a09383;
}

.nav-container .closeBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 40px;
  color: #a09383;
  text-decoration: none;
  width: 5%;
}

/**************

Main content

*******/
main {
  padding: 1rem;
  height: 70vh;
}

main h1 {
  font-family: "Playfair Display";
  text-align: left;
  color: #f8edda;
  letter-spacing: 2px;
  font-size: 3rem;
}

main img {
  max-width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'raleway';
  font-size: 12px;
  color: #f8edda;
}

@media (min-width: 1800px) {
  footer {
    padding: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */