/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@font-face {
  font-family: "big john";
  src: url("/fonts/bigjohn-webfont.woff2") format("woff2"), url("/fonts/bigjohn-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "slim joe";
  src: url("/fonts/slimjoe-webfont.woff2") format("woff2"), url("/fonts/slimjoe-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: auto 0;
  max-width: 100%;
  height: 100%;
}

body {
  margin: auto 0;
  padding: 0;
  /*****************
  MENU LINK Animations
  */
  /*** 
TITLE SCSS AND ARROW DOWN ICON 
****/
  /***** 
PROJECT LITS 
****/
}

body .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  padding: 2rem;
  margin: auto 0;
}

body .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .logo img {
  max-width: 100%;
}

body .ham {
  width: 35px;
  height: 30px;
  display: block;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

body .ham div {
  height: 4px;
  background: black;
  margin: 5px 0;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .menu {
  display: none;
}

body .one {
  width: 50px;
}

body .two {
  width: 30px;
}

body .three {
  width: 40px;
}

body .ham:hover div {
  width: 50px;
}

body .menu li {
  padding: 10px;
  list-style-type: none;
  font-family: raleway;
  font-weight: 400;
  font-size: 12px;
}

body .nav-container {
  background-color: rgba(83, 167, 234, 0.9);
  width: 100%;
  height: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: hidden;
  padding: 0;
  overflow-x: hidden;
}

body .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0;
}

body .nav li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 30px;
  font-family: raleway;
  font-weight: 700;
}

body .nav li a {
  color: #fff;
  text-decoration: none;
}

body .nav li a:hover {
  color: #1e2125;
}

body .menu li a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100vh;
}

body .nav-container .closeBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 40px;
  color: white;
  text-decoration: none;
  width: 5%;
}

body .link-1::after, body .link-2::after, body .link-3::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #53a7ea;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

body .link-1:hover::after, body .link-2:hover::after, body .link-3:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

body .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .title {
  font-family: big john;
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.5rem;
  line-height: 3.5rem;
  color: #0a7198;
}

body .project {
  padding-top: 2rem;
}

body .p3 {
  padding-bottom: 5rem;
}

body .p-header {
  position: relative;
  text-align: center;
}

body .projName {
  position: absolute;
  bottom: 60px;
  left: 16px;
  font-family: slim joe;
  color: #1e2125;
  text-align: left;
  font-size: 36px;
}

body .project > .content {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content > .buttonstyle {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #53a7ea;
  -webkit-box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.1);
}

body .buttonstyle:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .button {
  font-family: raleway;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

body .arrow {
  color: #fff;
}

body .github {
  color: black;
  text-decoration: none;
}

body footer {
  height: 0;
  padding: 2rem;
  font-family: "raleway";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .pgnum {
  font-family: big john;
  font-size: 16px;
}

body footer .pgnum > span {
  color: #0a7198;
}

body footer > a {
  color: black;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body footer > a:hover {
  color: #53a7ea;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-x: hidden;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-right: 3rem;
  }
  body .header-flex {
    height: 0;
    padding: 3rem;
  }
  body .logo img {
    height: 50px;
    width: 60px;
  }
  body .content > img {
    max-width: 70%;
  }
  body .project {
    padding-top: 3rem;
  }
  body .projName {
    position: absolute;
    bottom: 5%;
    left: 15%;
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1439px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-x: hidden;
  }
  body .header-flex {
    height: 0;
    padding: 3rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 4rem;
  }
  body .logo img {
    height: 50px;
    width: 60px;
  }
  body .title {
    font-size: 100px;
    line-height: 140%;
  }
  body .grid > img {
    max-width: 70%;
  }
  body .project {
    padding-top: 3rem;
  }
  body .projName {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  body .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 2rem;
    padding: 2rem;
  }
  body footer {
    height: 0;
  }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 1599px) {
  body {
    overflow-x: hidden;
  }
  body .header-flex {
    height: 0;
    padding: 3rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
  }
  body .menu li {
    font-size: 16px;
  }
  body .logo img {
    padding: 0;
    width: 60px;
    height: 50px;
  }
  body .ham {
    width: 35px;
  }
  body .title {
    font-size: 100px;
    line-height: 140%;
  }
  body .grid > img {
    max-width: 70%;
  }
  body .project {
    padding-top: 3rem;
  }
  body .projName {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  body .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 2rem;
    padding: 2rem;
  }
  body .a-down {
    position: relative;
    bottom: 3rem;
  }
  body footer {
    height: 0vh;
    font-size: 24px;
    padding-bottom: 3rem;
    padding-right: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body footer .pgnum {
    font-size: 24px;
  }
  body footer .top {
    display: none;
  }
}

@media screen and (min-device-width: 1600px) and (max-device-width: 1919px) {
  body {
    overflow-x: hidden;
  }
  body .header-flex {
    height: 0;
    padding: 3rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body .menu li {
    font-size: 16px;
  }
  body .logo img {
    padding: 0;
  }
  body .ham {
    width: 35px;
  }
  body .title {
    font-size: 100px;
    line-height: 140%;
  }
  body .grid > img {
    max-width: 70%;
  }
  body .project {
    padding-top: 3rem;
  }
  body .projName {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  body .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 2rem;
    padding: 2rem;
  }
  body .a-down {
    position: relative;
    bottom: 3rem;
  }
  body footer {
    height: 0vh;
    font-size: 24px;
    padding-bottom: 3rem;
    padding-right: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body footer .pgnum {
    font-size: 24px;
  }
  body footer .top {
    display: none;
  }
}

@media screen and (min-device-width: 1920px) and (max-device-width: 2500px) {
  body {
    overflow-x: hidden;
  }
  body .header-flex {
    height: 0;
    padding: 3rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5rem;
  }
  body .menu li {
    font-size: 16px;
  }
  body .logo img {
    width: 60px;
    height: 50px;
  }
  body .ham {
    width: 35px;
  }
  body .title {
    font-size: 100px;
    line-height: 140%;
  }
  body .grid > img {
    max-width: 70%;
  }
  body .project {
    padding-top: 3rem;
  }
  body .projName {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  body .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(600px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 2rem;
    padding: 2rem;
  }
  body .a-down {
    position: relative;
    bottom: 3rem;
  }
  body footer {
    height: 0vh;
    font-size: 24px;
    padding-bottom: 3rem;
    padding-right: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body footer .pgnum {
    font-size: 24px;
  }
}

@media screen and (min-device-width: 2560px) and (max-device-width: 3840px) {
  body {
    overflow-x: hidden;
  }
  body .header-flex {
    padding: 4rem;
    padding-bottom: 2rem;
    height: 0;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .menu li {
    font-size: 24px;
  }
  body .logo img {
    width: 60px;
    height: 50px;
  }
  body .ham {
    width: 35px;
  }
  body .title {
    font-size: 150px;
    line-height: 140%;
  }
  body .grid > img {
    max-width: 70%;
  }
  body .project {
    padding-top: 3rem;
  }
  body .projName {
    position: absolute;
    bottom: 5%;
    left: 15%;
  }
  body .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(1000px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 2rem;
  }
  body .a-down {
    position: relative;
    bottom: 3rem;
  }
  body footer {
    height: 0vh;
    font-size: 24px;
    padding-bottom: 3rem;
    padding-right: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body footer .pgnum {
    font-size: 24px;
  }
}
/*# sourceMappingURL=main.css.map */