/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@font-face {
  font-family: "big john";
  src: url("/fonts/bigjohn-webfont.woff2") format("woff2"), url("/fonts/bigjohn-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "slim joe";
  src: url("/fonts/slimjoe-webfont.woff2") format("woff2"), url("/fonts/slimjoe-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: auto 0;
  max-width: 100%;
  height: 100%;
}

body {
  margin: auto 0;
  padding: 0;
  /*** 
TITLE SCSS
****/
  /***** 
PROJECT LITS 
****/
}

body .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  margin: auto 0;
  padding-right: 1rem;
}

body .logo {
  display: inline-block;
  height: 50px;
  padding: 30px;
  width: 100%;
}

body .logo img {
  max-width: 100%;
}

body .ham {
  width: 35px;
  height: 30px;
  display: block;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

body .ham div {
  height: 4px;
  background: black;
  margin: 5px 0;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .menu {
  display: none;
}

body .one {
  width: 50px;
}

body .two {
  width: 30px;
}

body .three {
  width: 40px;
}

body .ham:hover div {
  width: 50px;
}

body .menu li {
  padding: 10px;
  list-style-type: none;
  font-family: raleway;
  font-weight: 400;
  font-size: 12px;
}

body .nav-container {
  background-color: rgba(83, 167, 234, 0.9);
  width: 100%;
  height: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: hidden;
  padding: 0;
  overflow-x: hidden;
}

body .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0;
}

body .nav li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 30px;
  font-family: raleway;
  font-weight: 700;
}

body .nav li a {
  color: #fff;
  text-decoration: none;
}

body .nav li a:hover {
  color: #c9c9c9;
}

body .menu li a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100vh;
}

body .nav-container .closeBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 40px;
  color: white;
  text-decoration: none;
  width: 5%;
}

body .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: big john;
  text-align: center;
  font-size: 48px;
  letter-spacing: .5rem;
  line-height: 3.5rem;
  color: #0a7198;
}

body .project {
  padding-top: 1rem;
}

body .p3 {
  padding-bottom: 5rem;
}

body .p-header {
  position: relative;
  text-align: center;
}

body .projName {
  position: absolute;
  bottom: 60px;
  left: 16px;
  font-family: slim joe;
  color: #1e2125;
  text-align: left;
  font-size: 36px;
}

body .project > .content {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content > .buttonstyle {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #53a7ea;
  -webkit-box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.1);
}

body .buttonstyle:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .button {
  font-family: raleway;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: .1rem;
}

body .arrow {
  color: #fff;
}

body .github {
  color: black;
  text-decoration: none;
}

body footer {
  padding: 5rem;
  text-align: center;
  position: relative;
  bottom: 3%;
  font-family: big john;
}

body footer > a {
  color: black;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-x: hidden;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-right: 3rem;
  }
  body .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 10%;
  }
  body .logo img {
    padding-left: 1.5rem;
  }
  body .header-flex {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0;
  }
  body .project {
    padding-top: 3rem;
  }
  body .project > .content {
    padding-top: 2rem;
    margin-right: 2.5rem;
    margin-left: 3rem;
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    height: 100vh;
    overflow-x: hidden;
  }
  body .header-flex {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 4rem;
  }
  body .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 10%;
  }
  body .logo img {
    padding-left: 2rem;
  }
  body .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  body .title {
    font-size: 70px;
    line-height: 5rem;
  }
  body .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr 1fr;
        grid-template-columns: .5fr 1fr;
    -ms-grid-rows: 100vh;
        grid-template-rows: 100vh;
  }
  body .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .listings {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-gap: 5rem;
    margin-right: 1rem;
  }
  body .project {
    padding-top: 0;
  }
  body .p3 {
    padding-bottom: 0;
  }
  body .project > .content {
    padding: 3rem;
    padding-left: 0;
    padding-bottom: 1rem;
    width: 100%;
    margin-left: 3rem;
    position: relative;
    right: 3rem;
  }
  body .content > a {
    padding-right: 1rem;
  }
  body .pheader > img {
    max-width: 40%;
  }
  body footer {
    display: none;
  }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 1600px) {
  body {
    padding: 1.5rem;
    overflow-x: hidden;
  }
  body .header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
    margin-right: 3rem;
  }
  body .menu li {
    font-size: 16px;
  }
  body .logo {
    padding: 0;
    margin: auto 0;
    width: 10%;
  }
  body .logo img {
    padding: 0;
  }
  body .ham {
    width: 35px;
  }
  body .project > img {
    max-width: 100%;
  }
  body .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr 1fr;
        grid-template-columns: .5fr 1fr;
    -ms-grid-rows: 100vh;
        grid-template-rows: 100vh;
  }
  body .title {
    font-size: 100px;
    line-height: 8rem;
  }
}
/*# sourceMappingURL=main.css.map */