$colors: (
  primary: #a09383,
  secondary: #252625,
  accent: #8497a1,
  extra: #f8edda
);

/******************** 
Responsive Media Queries 
********/

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway");

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: map-get($colors, primary);
}

/*******************
Header(nav,logo,links,etc)
*/

.header-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  padding: 1rem;

  @include for-big-desktop-up{
    padding: 2rem;
  }
  .logo {
    padding: 0;
    margin: 0;
    img {
      width: 45px;
      height: 40px;
    }
  }

  .ham {
    width: 35px;
    height: 30px;
    display: block;
    cursor: pointer;
    transform: scaleX(-1);
  }

  .ham div {
    height: 4px;
    background: black;
    margin: 5px 0;
    border-radius: 24px;
    transition: 0.3s;
  }

  .one {
    width: 50px;
  }

  .two {
    width: 30px;
  }

  .three {
    width: 40px;
  }
  .ham:hover div {
    width: 50px;
  }

  .menu {
    visibility: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    li {
      padding: 5px;
      list-style-type: none;
      display: inline-block;
      font-size: 12px;
    }
    li a {
      color: map-get($colors, secondary);
      text-decoration: none;
      font-family: "Playfair Display";
      text-align: center;
      width: 100vh;
    }

    /*****************
    MENU LINK Animations
    */

    .link-1::after,
    .link-2::after,
    .link-3::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: map-get($colors, extra);
      transition: width 0.3s;
    }

    .link-1:hover::after {
      transition: width 0.3s;
      width: 100%;
    }

    .link-2:hover::after {
      transition: width 0.3s;
      width: 100%;
    }

    .link-3:hover::after {
      transition: width 0.3s;
      width: 100%;
    }
  }
}

/*************************
NAV OVERLAY 
*/

.nav-container {
  background-color: rgba(247,238,218,.9);
  width: 100%;
  height: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
  overflow-y: hidden;
  padding: 0;
  overflow-x: hidden;

  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0;
  }

  .nav li {
    list-style-type: none;
    padding: 10px 0;
    font-size: 30px;
   
  }

  .nav li a {
    color: map-get($colors, secondary);
    text-decoration: none;
    font-family: "raleway";
  }

  .nav li a:hover {
    color: map-get($colors, primary);
  }

  .closeBtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 40px;
    color: map-get($colors, primary);
    text-decoration: none;
    width: 5%;
  }
}



/**************

Main content

*******/

main{
 padding: 1rem;
  height: 70vh;

  h1{
    font-family: "Playfair Display";
    text-align: left;
    color: map-get($colors, extra);
    letter-spacing: 2px;
    font-size: 3rem;
  }
  img{
    max-width: 100%;
   
 
  }

  
}

footer{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  align-items: center;
  font-family: 'raleway';
  font-size: 12px;
  color: map-get($colors, extra);
 
  @include for-big-desktop-up{
    padding: 2rem;
  }
  
}