

@import url('https://fonts.googleapis.com/css?family=Anton|Lato');

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
  
  html, body {
  height: 100%;
  width: 100%;
 

}

body{
  margin: 0;
}


.row-nav{
  position: relative;
  top: 35px; 
 
}



a{
  margin-right: 3rem;
  margin-left: 3rem;
  text-decoration: none;
  color: #262626;
  letter-spacing: .1rem;
  z-index: 2;
  font-size: 14px;
  
}




 a:visited {
  font-family: 'Lato', sans-serif;
  border-bottom: 3px solid black;
  color: #262626;
  
 
}

a:hover {
  text-decoration: none;
  color: #454545;
  border-bottom: 3px solid black;
  

}

.logo{
 position: relative;
 right: 15rem;
}



.nav {
  display: flex;
  justify-content: center;

}





/*****************************
* PROJECT LISTINGS GRID 
*/



.container1{
    height: 100%;
    width: 100%;
    padding: 0;
   
  }
  
  .row4, .row5, .row6{
    display: flex;
    padding: .3em,0,0,0;
    flex-wrap :wrap;
    
  }

  .row5{
    height: 100%;
  }

  .portphoto{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
    opacity: 1;
   
  }

  a > .odie{
    opacity: 1;
  }

  a > .odie:hover{
  
    opacity: .7;
  }
  

  a > .color{
    opacity: 1;
  }

  a > .color:hover{
  
    opacity: .7;
  }
  
  .port{
      font-family: 'Anton', 'Sans serif';
      letter-spacing: .3rem;
    display: flex; 
    justify-content: center;
    color: #262626;
    font-weight: 900;
    font-size: 40px;
    padding: 5em;
    position: relative;

    }

    .scroll{
    display: flex; 
    justify-content: center;
    color: #000000;
    font-size: 16px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 51rem;
    
    }
  
    
  
  .p1{
  display: flex; 
  justify-content: center;
  transition: all .3s ease-in-out;
  position: relative;

  }
  
  .p2{
    transition: all .3s ease-in-out;
    display: flex; 
  justify-content: center;
  position: relative;
  height: 100%;
  
  }
  
  .p1:before, .p2:before{
    content: 'HTML/CSS';
    color: #ffffff;
    background-color: #000000;
    z-index: 3;
    font-weight: 500;
    position: absolute;
    top: 45%;
    width: 100px;
    height:30px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
  
  .p1 > a, .p2 > a{
    border: 0;
  }
  
  
  
  
  .row6{
    padding-bottom: 1rem;
    margin: 0;
  }
  
  
  
  
  .pname1{
    display: flex;
    justify-content: center;
   
   
  }
  
  .pname2{
    display: flex;
    justify-content: center;
    
   
    
   
    
  }

 
  
  
  .pname1, .pname2{
    text-transform: uppercase;
    padding-top: 3rem;
    
  }
  
  
  
  .pname1 > a, .pname2 > a{
    color: #262626;
    font-weight: 300;
    font-size: 24px;
  
  }
  
  .pname1 > a:hover, .pname2 > a:hover{
    color: #000000;
    font-weight: 700;
  }

 

 
 






      
  
  